// .content
//   max-width: 650px
//   .row
//     display: flex
//     border-bottom: solid 1px black
//     padding: 3px
//     .name
//       max-width: 250px
//       min-width: 250px
//     .value
//       font-weight: 900
      

table
  border: none
  max-width: 650px
  tr
    td
      border-bottom: solid 1px black
      font-weight: 900
    td:last-child
      font-weight: 400
      width: 50%
      
      